.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
  
}

.d1 {
  background-color: lightblue;
}

.d2 {
  background-color: orange;
}

.d3 {
  background-color: cyan;
}

.d4 {
  background-color: pink;
}

.d5 {
  background-color: lightgreen;
  grid-column: 2 / 4;
  grid-row: 2 / 4; 
}