.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 5px;
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
}

.d1 {
  background-color: lightblue;
}

.d2 {
  background-color: orange;
}

.d3 {
  background-color: cyan;
}

.d4 {
  background-color: pink;
}

.d5 {
  background-color: lightgreen;
}