.container {
  display: grid;
  grid-template-columns: 50px 50px;
  font-size: 40px;
  width: 100%;
}

.d1 {
  background-color: lightblue;
}

.d2 {
  background-color: orange;
}

.d3 {
  background-color: cyan;
}

.d4 {
  background-color: pink;
}

.d5 {
  background-color: lightgreen;
}